@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: darkseagreen;
}
.fa-lightbulb{
    margin-top: 18px;
    font-size: 40px;
    color: wheat;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: rgb(250, 248, 250);
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(91, 65, 185);
}
nav li:hover{
    background-color: rgb(35, 128, 145);
    border-radius: 30px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: whitesmoke;
    width: 870px;
    height: 679;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 5px 5px 20px rgb(160, 159, 159);
    border-radius: 5px;

}
/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: rgb(157, 60, 202);
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 10px;
    font-size: 17px;
}
.player img{
    width: 56px;
    height: 56px;
}
/* -------------------
    top Blogs style
------------------*/
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 15px;
}
.blog-title{
    font-size: 19px;
    color: rgb(0, 0, 0);
}
.blog-author{
    font-size: 15px;
    color: rgb(204, 62, 7);
}
.blog-author a{
    font-size: 15px;
    text-decoration: none;
    color: lightseagreen;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
}

/* courses styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.course .course-banner img{
    width: 224px;
    height: 104;
    margin: 20px;
}
.gg{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-author{
    color: orangered;
}
.fa-star.filled{
    color: goldenrod;
}
.fa-star.empty{
    color: gray;
}
.time{
    background-color: rgba(255, 182, 193, 0.616);
    border-radius: 5%;
}
/*--------------------
     Media queries 
--------------------*/

/* Mobile devies */

@media only screen and (max-width: 650px) {
    body{
        margin: 0;
    }
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .players, .blog{
        flex-direction: column;
    }
}

/* Tablet devices */

@media only screen and (min-width: 650px) and (max-width: 1000px) {
    body{
        margin: 0;
    }
    .container{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}